/* open-sans-regular - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans/open-sans-v15-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans/open-sans-v15-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans/open-sans-v15-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans/open-sans-v15-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans/open-sans-v15-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans/open-sans-v15-cyrillic_latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - cyrillic_latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans/open-sans-v15-cyrillic_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans/open-sans-v15-cyrillic_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans/open-sans-v15-cyrillic_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans/open-sans-v15-cyrillic_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans/open-sans-v15-cyrillic_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans/open-sans-v15-cyrillic_latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
body{
	margin: 0;
	font-family: 'Open Sans';
	font-size: 16px;
}

header{
	display: block;
	margin: 0;
}
main{
	display: block;
}
footer{
	display: block;
}
.footer:after{
	clear: both;
	content: '';
	display: block;
}
.container{
	margin: 0 auto;
	width: 100%;
}
.container:after{
	clear: both;
	content: '';
	display: block;
}
.law span{
	border-left: 1px solid #ffffff;
	padding-left: 4px;
}
.rec {
	float: right;
	color: #ffffff;
	font-size: 14px;
	background: #3366cc;
	padding: 10px 20px;
	font-weight: 700;
	border: #3366cc;
}
.jazmay{
	color: white;
	float: right;
	background-color: #3366cc;
	padding: 10px 20px;
	font-weight: 700;
	border: #3366cc;
	text-decoration: none;
}
.rec:focus{
	outline: none;
}
.rec:hover{
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
	background-color: #ffffff;
	color: #3366cc;
	cursor: pointer;
	border: none;
}
.infoblock{
	width: 1000px;
	margin: 0 auto;
	padding: 20px 0 10px;
}
.logo{
	float: left;
}
.info:after{
	clear: both;
	content: '';
	display: block;
}
.infoblock:after{
	clear: both;
	content: '';
	display: block;
}
nav:after{
	clear: both;
	content: '';
	display: block;
}
nav{
	float:right;
	display: table;
	text-align: center;
	font-size: 13px;
	table-layout: fixed;
	text-transform: uppercase;
}
.menu{
	list-style: none;
	display: table-row;
}
.menu > li{
	position: relative;
	display: table-cell;
	text-align: right;
}
.menu li > a{
	color: #a1abdc;
	text-decoration: none;
	display: block;	
	padding: 15px;
}
.menu li a:hover{
	color: #ffffff;
	text-align: right;
}
.menu li:hover .submenu{
	display: block;
	border: 1px solid #c8bfff;
	box-shadow: 0 3px 10px 0;
	margin-right: 30px;
}
.submenu{
	position: absolute;
	list-style: none;
	padding: 15px 5px 15px 25px;
	background: #000033;
	display: none;
}
.submenu li a{
	color: #a1abdc;
	text-decoration: none;
	padding: 10px;
	display: block;
}
.service{
	background: url('../img/slider.png');
	background-position: 24% 29%;
	color: #a0acdb;
	text-align: center;
	padding-top: 250px;
	padding-bottom: 20px;	
}
.complex{
	text-transform: uppercase;
	font-size: 41px;
	font-weight: 700;
}
.coach{
	font-size: 27px;
}
.doctor{
	font-size: 21px;
	padding-bottom: 20px;
}
.turn {
	color: #ffffff;
	font-size: 14px;
	background: #3366cc;
	padding: 20px 30px;
	border:#3366cc;
	text-transform: uppercase;
	font-weight: 700;
}
.turn:hover{
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
	background-color: #ffffff;
	border: 1px solid #3366cc;
	color: #3366cc;
	cursor: pointer;
}
.category{
	color: #3366cc;
	font-size: 16px;
	background: #ffffff;
	padding: 20px;
	border: #3366cc;
	margin-right: 10px;
	width: 20%;
	margin-top: 100px;
}
.category:hover{
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
	background-color: #ffffff;
	border-bottom: 2px solid #3366cc;
	color: #3366cc;
	cursor: pointer;
}
.category:focus{
	background-color: #ffffff;
	border-bottom: 2px solid #425cbb;
	color: #3266cc;
	cursor: pointer;
	outline: none;
}
.helloword{
	margin: 50px auto;
	width: 800px;	
	padding: 80px;
	box-shadow: 0px 0px 100px 2px #dde0f3;
}
.helloword:hover{
	cursor: pointer;
	box-shadow: 0px 0px 47px 15px #dde0f3;
}
.firstblock{
	float: left;
	width: 48%;
}
.hello{
	font-weight: 700;
	font-size: 31px;
}
.hellocoach{
	font-size: 21px;
}
.science{
	font-size: 16px;
	color: #444444;
	padding: 20px 0;
}
.helloword:after{
	clear: both;
	content: '';
	display: block;
}
.movie{
	float: right;
	width: 48%;
	position: relative;	
}
.photo{
	width: 100%;	
}
.fa-play{
	bottom: 40%;
	right: 40%;
	position: absolute;
	background: #555e6f;
	color: #fff;
	padding: 20px;
	border-radius: 50%;
	border: 1px solid #fff;	
}
.wait{
	margin: 50px 0;
	padding-top: 100px;
	padding-bottom: 110px;
	color: #fff;
	background: url('../img/layer.png') top;
	text-align: center;	
}
.secondphoto{
	float: left;
	width: 100%;	
	box-sizing: border-box;
}
.secondblock{
	float: left;
	padding-right: 20px;
	width: 70%;
	box-sizing: border-box;
}
.secondmovie{
	float: right;
	width: 30%;
}
.thirdcontainer{
	background: url('../img/testimonials.png');
	background-size: cover;
	padding: 40px 0;
}
.thirdhelloword{
	margin: 0 auto;
	width: 800px;	
	padding: 80px;
	background-color: #fff;	
}
.thirdhelloword:after{
	clear: both;
	content: '';
	display: block;
}
.thirdmovie{
	float: left;
	width: 30%;
	box-sizing: border-box;
}
.thirdphoto{
	width: 100%;
}
.thirdblock{
	float: left;
	width: 65%;
	padding-left: 40px;
}

.thirddmovie{
	float: left;
	width: 50%;
	box-sizing: border-box;
}
.secondphoto{
	width: 100%;	
}
.fourthhelloword{	
	margin: 0 auto;
	width: 800px;	
	padding: 100px 80px 40px;
	background-color: #fff;
	box-shadow: 0px 0px 100px 2px #dde0f3;
}
.fourthhelloword:after{
	clear: both;
	content: '';
	display: block;
}
.thirdphoto{
	float: left;
	width: 100%;	
}
.thirddmovie{
	float: left;
	width: 50%;
}
.secondphoto{
	width: 100%;	
}
.post{
	padding: 10px;
	width: 100%;	
	margin: 10px 0;
	box-sizing: border-box;
	font-size: 14px;	
}
.post:hover{
	cursor: pointer;
	box-shadow: 0 0 4px 5px #ddedfa;
}
.message{
	width: 100%;
	padding: 5px 5px 80px;	
	overflow: hidden;
  	box-sizing: border-box;
	margin-bottom: 20px;
	font-size: 14px;
}
.message:hover{
	cursor: pointer;
	box-shadow: 0 0 4px 5px #ddedfa;
}
.send {
	color: #ffffff;
	font-size: 14px;
	background: #3366cc;
	padding: 20px 30px;
	border:#3366cc;
	text-transform: uppercase;
	width: 100%;	
	font-weight: 700;	
}
.send:hover{
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
	background-color: #ffffff;
	border: 1px solid #3366cc;
	color: #3366cc;
	cursor: pointer;
}
.footcontainer{
	background: #000033;
	color: #fff;
}
.foottext{
	font-size: 16px;
	color: #fff;
}
.foottext:hover{
	cursor: pointer;
}
.footphoto{
	float: left;
	padding-bottom: 20px;
	width: 39%;
}
.footphoto:after{
	clear: both;
	content: '';
	display: block;
}
.secondpost{
	padding: 10px;
	border-radius: 5px 0 0 5px;
	border: none;
	margin-right: 0;
	float: left;
}
.secondpost:hover{
	cursor: pointer;
}
.secondrec{
	padding: 9px;
	border-radius: 0 5px 5px 0;
	color: #ffffff;
    font-size: 14px;
    background: #3366cc;
	border: none;
	text-transform: uppercase;
}
.secondrec:focus{
	outline: none;
}
.secondrec:hover{	
	cursor: pointer;
}

.mainintresting{
	width: 35%;
	float: left;
}
.mainintresting:after{
	clear: both;
	content: '';
	display: block;	
	box-sizing: border-box;	
}
.intresting {
	float: left;
	box-sizing: border-box;
	padding-top: 20px;
	padding-right: 10px;
}
.inblue{
	border-bottom: 1px solid #425cbb;
}
.intresting:after{
	clear: both;
	content: '';
	display: block;
}
.heading{
	font-size: 18px;
	padding-bottom: 20px;
}
.signed{
	padding-bottom: 10px;
}
.violetclock{
	color: #a1abdc;
	font-size: 13px;
	float: left;
}
.again{
	margin-right: 10px;
}
.violetclock:after{
	clear: both;
	content: '';
	display: block;
}
.one{
	color: #a1abdc;
	font-size: 13px;
	float: right;
}
.one:after{
	clear: both;
	content: '';
	display: block;
}
.violet{
	color: #a1abdc;
	font-size: 13px;
}
.listname{
	border-bottom: 1px solid #425cbb;
	padding: 8px 0 8px;
}
.listname:hover{
	cursor: pointer;
	color: #3266cc;
}
.far{
	color: #000000;
	background: #fff;
	border-radius: 50%;
	padding: 10px 15px; 
}
.far:hover{
	cursor: pointer;
	background: #3266cc;
	color: #fff;
}
.inicon{
	color: #000000;
	background: #fff;
	border-radius: 50%;
	padding: 8px 15px;
	font-size: 18px;
	font-weight: 700;
}
.inicon:hover{
	cursor: pointer;
	background: #3266cc;
	color: #fff;
}
.social{
	padding: 20px 2px 8px;
}
.last{
	background: #000000;
	font-size: 14px;
}
.last:after{
	clear: both;
	content: '';
	display: block;
}

.law{
	float: left;
}
.lastsave{
	float: right;	
	
	text-transform: uppercase;
}
.lastsave span{
	padding-right: 10px;
}
.lastsave:hover{
	cursor: pointer;
}
.lastcolor{
	background: #000000;
	color: #fff;
}









